<h2>About Me</h2><hr/>

        <!-- <img src="src/assets/icon.jpg" > -->
<p>I'm an engineer</p>
     <p>I dream is to start premier event management service by deleviering cutting edge and one stop solution globally. Providing memorable exerience to customers.</p>

<br/>
<h3>Education Details</h3><hr/>

<ul>10th - JBES, Kadur, Karnataka </ul>
<ul>12th - PACE UM PU college, Shivamogga, Karnataka</ul>
<ul>B.E - MVJCE, Bangalore, Karnataka</ul>

<br/>
<h3>Certification</h3><hr/>

    <ul>Certification on Asp.Net</ul>
    <ul>Udemy Certification on SQL</ul>

<br/>
<h3>Skills</h3><hr/>
    <li>Technologies - Html, CSS, Asp.Net, MVC, SQL, C#, Angular</li>
    <li>Tools - MYSQL, VS code, VS, Postman, Devexpress </li>
<br/>
<h3>Hobbies</h3><hr/>
<p>Painting, Sketching, Cooking</p>
<br/>
<h3>Vision</h3><hr/>
<p>My vision is to be an honest, empathetic and impactful project leader and to be recognized internationally within my industry</p>
