<h2>Contact Details</h2><hr/>
<table>
    <tr><td colspan="2">
        <h3>Reach me out at:</h3>
    </td></tr>
    <tr>
    <td>
        <p>Personal Contact Detail:</p>
       <p><i style="font-size:24px" class="fa">&#xf095;</i> <a href="tel:7080102289"> 7080102289</a></p>
       <p><i style="font-size:24px" class="fa">&#xf0e0;</i><a href="mailto:bindu.k.p1997@gmail.com"> bindu.k.p1997@gmail.com</a></p>
    </td>
    </tr>
    <tr>
        <td>
            <p>Official Contact Detail:</p>
            <p><i style="font-size:24px;" class="fa" >&#xf095;</i><a href="tel:9080102289"> 9080102289</a></p>
            <p><i style="font-size:24px;" class="fa">&#xf0e0;</i><a href="mailto:bindu.kp@cognizant.com"> bindu.kp@cognizant.com</a></p>
        </td>
    </tr>
    <tr><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15514.975369199337!2d76.0095391!3d13.5512993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bbaea300a421acf%3A0x3d9cf937fd13b7d3!2sKadur%2C%20Karnataka%20577548!5e0!3m2!1sen!2sin!4v1675745993021!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></tr>
</table>
