<style>
    .content {
     display: block;
     margin: 20px auto 20px;
     padding: 0 16px;
     max-width: 960px;
     align-items: center;
     background-color: lightgoldenrodyellow;
   }
 </style>
 <div class="content">
   <p> Welcome to the Home Page</p><br/>
<button routerLink="home" routerLinkActive="active">Home</button> | 
<button routerLink="about" routerLinkActive="active">About</button> | 
<button routerLink="contact" routerLinkActive="active">Contact Details</button> | 
<button routerLink="friends" routerLinkActive="active">Friends</button> 
<router-outlet></router-outlet> 
</div>